openapi: 3.1.0
info:
  title: Boxty API
  version: 1.0.0
  description: |
    Boxty — programmable sandbox platform. Run code in cloud with gVisor isolation,
    secrets, cron scheduling, image building, persistent volumes, and web endpoint API.
servers:
  - url: https://api.boxty.dev
    description: Production
  - url: http://localhost:3000
    description: Development
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT from login/register
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key format "Bearer bxty_..."
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
    Sandbox:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [running, stopped, snapshotted] }
        url: { type: string, format: uri }
        image: { type: string }
        cpu: { type: integer }
        memory: { type: integer }
        gpu: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        timeout: { type: integer }
    ExecResult:
      type: object
      properties:
        stdout: { type: string }
        stderr: { type: string }
        exit_code: { type: integer }
        duration_ms: { type: integer }
    Secret:
      type: object
      properties:
        name: { type: string }
        created_at: { type: string, format: date-time }
    ImageBuild:
      type: object
      properties:
        id: { type: string }
        image_url: { type: string, nullable: true }
        status: { type: string, enum: [building, done, failed] }
        error: { type: string, nullable: true }
    Volume:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        size_gb: { type: integer }
        status: { type: string }
        mount_url: { type: string }
        created_at: { type: string, format: date-time }
    Schedule:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        schedule_type: { type: string, enum: [cron, period] }
        schedule_value: { type: string }
        next_run: { type: string, format: date-time }
        status: { type: string, enum: [active, paused] }
    Deployment:
      type: object
      properties:
        id: { type: string }
        url: { type: string, format: uri }
        status: { type: string, enum: [deploying, active, failed] }
    Workspace:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        created_at: { type: string, format: date-time }
    Environment:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        type: { type: string, enum: [development, staging, production] }
        workspace_id: { type: string }
    App:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        status: { type: string }
        image: { type: string }
        cpu: { type: integer }
        memory: { type: integer }
        gpu: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
    AppMetrics:
      type: object
      properties:
        total_sandboxes: { type: integer }
        active_sandboxes: { type: integer }
        cpu: { type: object }
        memory: { type: object }
        gpu: { type: object }
        network: { type: object }
        total_cost: { type: number }
    SandboxMetrics:
      type: object
      properties:
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time }
        boot_duration_ms: { type: integer }
        cpu: { type: object }
        memory: { type: object }
        network: { type: object }
        gpu: { type: object, nullable: true }
    UsageReport:
      type: object
      properties:
        total_cost: { type: number }
    BillingBalance:
      type: object
      properties:
        balance: { type: number }
paths:
  /health:
    get:
      summary: Health check
      tags: [System]
      responses:
        '200':
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
  /api/auth/register:
    post:
      summary: Register user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        '201':
          description: User created, returns JWT
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user: { type: object }
  /api/auth/login:
    post:
      summary: Login
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: JWT token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
  /api/auth/api-keys:
    post:
      summary: Generate API key
      tags: [Auth]
      security: [{ BearerAuth: [] }]
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  key: { type: string }
  /api/sandboxes:
    post:
      summary: Create sandbox
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [image]
              properties:
                image: { type: string, example: "pytorch:latest" }
                cpu: { type: integer, default: 2 }
                memory: { type: integer, default: 4096 }
                gpu: { type: string, nullable: true }
                timeout: { type: integer, default: 3600 }
                disk_size_gb: { type: integer, default: 10 }
                volume: { type: string, nullable: true }
                volume_mount_path: { type: string, default: "/mnt/volume" }
      responses:
        '201':
          description: Sandbox created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sandbox' }
    get:
      summary: List sandboxes
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: List of sandboxes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Sandbox' }
  /api/sandboxes/{id}:
    get:
      summary: Get sandbox details
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Sandbox details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sandbox' }
    delete:
      summary: Stop and delete sandbox
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Sandbox stopped
  /api/sandboxes/{id}/exec:
    post:
      summary: Execute command in sandbox
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [command]
              properties:
                command: { type: string }
                timeout: { type: integer }
      responses:
        '200':
          description: Execution result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExecResult' }
  /api/sandboxes/{id}/snapshot:
    post:
      summary: Create snapshot
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        '200':
          description: Snapshot created
  /api/sandboxes/restore:
    post:
      summary: Restore from snapshot
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [snapshotKey, image]
              properties:
                snapshotKey: { type: string }
                image: { type: string }
                cpu: { type: integer }
                memory: { type: integer }
                gpu: { type: string }
                secrets: { type: array }
      responses:
        '201':
          description: Sandbox restored
  /api/sandboxes/{id}/forward:
    post:
      summary: Port forwarding
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [port]
              properties:
                port: { type: integer }
      responses:
        '200':
          description: Forward URL
  /api/sandboxes/{id}/metrics:
    get:
      summary: Sandbox metrics
      tags: [Sandboxes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Metrics list
  /api/workers/register:
    post:
      summary: Register worker
      tags: [Workers]
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host: { type: string }
                region: { type: string }
                provider: { type: string }
      responses:
        '201':
          description: Worker registered
  /api/workers:
    get:
      summary: List workers
      tags: [Workers]
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          description: Workers list
  /api/workers/{id}/heartbeat:
    post:
      summary: Worker heartbeat
      tags: [Workers]
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cpu: { type: object }
                memory: { type: object }
                sandboxes_running: { type: integer }
      responses:
        '200':
          description: Heartbeat received
  /api/images/build:
    post:
      summary: Build image
      tags: [Images]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [base_image, commands]
              properties:
                base_image: { type: string }
                commands: { type: array, items: { type: string } }
                name: { type: string }
      responses:
        '201':
          description: Build started
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImageBuild' }
  /api/images/build-from-dockerfile:
    post:
      summary: Build from Dockerfile
      tags: [Images]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                dockerfile: { type: string, format: binary }
                context: { type: string, format: binary }
      responses:
        '201':
          description: Build started
  /api/images:
    get:
      summary: List images
      tags: [Images]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Images list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ImageBuild' }
  /api/images/{id}:
    get:
      summary: Get image status
      tags: [Images]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Image details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImageBuild' }
    delete:
      summary: Delete image
      tags: [Images]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Image deleted
  /api/secrets:
    post:
      summary: Create secret
      tags: [Secrets]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, value]
              properties:
                name: { type: string }
                value: { type: string }
      responses:
        '201':
          description: Secret created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Secret' }
    get:
      summary: List secrets
      tags: [Secrets]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Secrets list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Secret' }
  /api/secrets/{name}:
    delete:
      summary: Delete secret
      tags: [Secrets]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: name
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Secret deleted
  /api/volumes:
    post:
      summary: Create volume
      tags: [Volumes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                size_gb: { type: integer, default: 50 }
      responses:
        '201':
          description: Volume created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Volume' }
    get:
      summary: List volumes
      tags: [Volumes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Volumes list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Volume' }
  /api/volumes/{id}:
    get:
      summary: Get volume details
      tags: [Volumes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Volume details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Volume' }
    delete:
      summary: Delete volume
      tags: [Volumes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Volume deleted
  /api/volumes/{id}/mount:
    post:
      summary: Mount volume
      tags: [Volumes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sandbox_id, mount_path]
              properties:
                sandbox_id: { type: string }
                mount_path: { type: string }
      responses:
        '200':
          description: Volume mounted
  /api/volumes/{id}/unmount:
    post:
      summary: Unmount volume
      tags: [Volumes]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sandbox_id]
              properties:
                sandbox_id: { type: string }
      responses:
        '200':
          description: Volume unmounted
  /api/schedules:
    post:
      summary: Create schedule
      tags: [Schedules]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, schedule_type, schedule_value, function_name, image, cpu, memory]
              properties:
                name: { type: string }
                schedule_type: { type: string, enum: [cron, period] }
                schedule_value: { type: string }
                function_name: { type: string }
                args: { type: object }
                image: { type: string }
                cpu: { type: integer }
                memory: { type: integer }
                gpu: { type: string }
                timeout: { type: integer }
                secrets: { type: array, items: { type: string } }
      responses:
        '201':
          description: Schedule created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Schedule' }
    get:
      summary: List schedules
      tags: [Schedules]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Schedules list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Schedule' }
  /api/schedules/{id}:
    get:
      summary: Get schedule
      tags: [Schedules]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Schedule details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Schedule' }
    patch:
      summary: Update schedule
      tags: [Schedules]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                schedule_value: { type: string }
                args: { type: object }
      responses:
        '200':
          description: Schedule updated
    delete:
      summary: Delete schedule
      tags: [Schedules]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Schedule deleted
  /api/schedules/{id}/trigger:
    post:
      summary: Trigger schedule manually
      tags: [Schedules]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Schedule triggered
  /api/deployments:
    post:
      summary: Create deployment
      tags: [Deployments]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, image]
              properties:
                name: { type: string }
                image: { type: string }
                cpu: { type: integer }
                memory: { type: integer }
                gpu: { type: string }
      responses:
        '201':
          description: Deployment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Deployment' }
    get:
      summary: List deployments
      tags: [Deployments]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Deployments list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Deployment' }
  /api/deployments/{id}:
    get:
      summary: Get deployment
      tags: [Deployments]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Deployment' }
    delete:
      summary: Delete deployment
      tags: [Deployments]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Deployment deleted
  /api/deployments/{id}/invoke:
    post:
      summary: Invoke deployment
      tags: [Deployments]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invocation result
  /api/billing/balance:
    get:
      summary: Get credit balance
      tags: [Billing]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Balance
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BillingBalance' }
  /api/billing/usage:
    get:
      summary: Get usage history
      tags: [Billing]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Usage report
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UsageReport' }
  /api/billing/credits:
    post:
      summary: Buy credits
      tags: [Billing]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: integer }
      responses:
        '200':
          description: Checkout URL
  /api/stripe/webhook:
    post:
      summary: Stripe webhook
      tags: [Billing]
      responses:
        '200':
          description: Webhook received
  /api/admin/stats:
    get:
      summary: Admin statistics
      tags: [Admin]
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          description: Stats
  /api/admin/cron/status:
    get:
      summary: Cron engine status
      tags: [Admin]
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          description: Cron status
  /api/workspaces:
    post:
      summary: Create workspace
      tags: [Workspaces]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                description: { type: string }
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }
    get:
      summary: List workspaces
      tags: [Workspaces]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Workspaces list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Workspace' }
  /api/workspaces/{id}:
    get:
      summary: Get workspace
      tags: [Workspaces]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }
    delete:
      summary: Delete workspace
      tags: [Workspaces]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Workspace deleted
  /api/environments:
    post:
      summary: Create environment
      tags: [Environments]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, name]
              properties:
                workspace_id: { type: string }
                name: { type: string }
                type: { type: string, enum: [development, staging, production] }
      responses:
        '201':
          description: Environment created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Environment' }
    get:
      summary: List environments
      tags: [Environments]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Environments list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Environment' }
  /api/environments/{id}:
    delete:
      summary: Delete environment
      tags: [Environments]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Environment deleted
  /api/apps:
    post:
      summary: Create app
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, env_id, name, image, cpu, memory]
              properties:
                workspace_id: { type: string }
                env_id: { type: string }
                name: { type: string }
                image: { type: string }
                cpu: { type: integer }
                memory: { type: integer }
                gpu: { type: string }
                timeout: { type: integer }
      responses:
        '201':
          description: App created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/App' }
    get:
      summary: List apps
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      responses:
        '200':
          description: Apps list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/App' }
  /api/apps/{id}:
    get:
      summary: Get app
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: App details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/App' }
    delete:
      summary: Delete app
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: App deleted
  /api/apps/{id}/stop:
    post:
      summary: Stop app
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: App stopped
  /api/apps/{id}/deploy:
    post:
      summary: Deploy app
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                image: { type: string }
                cpu: { type: integer }
                memory: { type: integer }
                gpu: { type: string }
      responses:
        '200':
          description: App deployed
  /api/apps/{id}/sandboxes:
    get:
      summary: Get app sandboxes
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Sandboxes list
  /api/apps/{id}/deployments:
    get:
      summary: Get app deployments
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Deployments list
  /api/apps/{id}/metrics:
    get:
      summary: Get app metrics
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: App metrics
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AppMetrics' }
  /api/apps/{id}/usage:
    get:
      summary: Get app usage
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: App usage
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UsageReport' }
  /api/apps/{id}/logs:
    get:
      summary: Get app logs
      tags: [Apps]
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: App logs
